{% extends 'base.html.twig' %}
{% block body %}
    <div class="nav" id="top"></div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">główne menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ><a href="{{'/' }}#aktualnosci">AKTUALNOŚCI <span class="sr-only">(current)</span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">O NAS <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{'/' }}#o_nas">INFORMACJE O PLACÓWCE</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href={{'/' }}#">PRACOWNICY PRZEDSZKOLA</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{'/' }}#film">FILM PROMUJĄCY</a></li>
                        </ul>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DLA RODZICÓW <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{'/' }}#plan_dnia">PLAN DNIA</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{'/' }}#program_wychowawczy">PROGRAM WYCHOWAWCZY</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{'/' }}#zywienie">ŻYWIENIE W NASZYM PRZEDSZKOLU</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{'/' }}#pierwszy_dzien">PIERWSZY DZIEŃ W PRZEDSZKOLU</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">KĄCIK LOGOPEDYCZNY <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% for article in articles %}
                                <li><a href="{{'/logopedia/'~article.id}}">{{ article.title }}</a></li>
                                <li role="separator" class="divider"></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">OSIĄGNIĘCIA <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% for schoolYear in schoolYears %}
                            <li><a href="{{'/achievements/'~schoolYear.id}}">{{ schoolYear.schoolYear }}</a></li>
                            <li role="separator" class="divider"></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">GALERIA <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% for schoolYear in schoolYears %}
                                <li><a href="{{ '/gallery/'~schoolYear.id}}">{{ schoolYear.schoolYear }}</a></li>
                                <li role="separator" class="divider"></li>
                            {% endfor %}
                        </ul>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container-fluid">
    <div class="row">
    <img src="{{ asset('images/logo.jpg') }}" class="img-responsive"/>
    </div>
    </div>
{% block content %}{% endblock %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li role="presentation" ><a href="#">STRONA GŁÓWNA</a></li>
                        <li role="presentation"><a href="#o_nas">O NAS</a></li>
                        <li role="presentation"><a href="#plan_dnia">DLA RODZICÓW</a></li>
                        <li role="presentation"><a href="#publikacje">PUBLIKACJE</a></li>
                        <li role="presentation"><a href="#osiagniecia">OSIĄGNIĘCIA</a></li>
                        <li role="presentation"><a href="#galeria">GALERIA</a></li>
                        {% if user== null %}
                            <li><a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        {% else %}
                            <li><a href="{{ path('easyadmin') }}"><span class="glyphicon glyphicon-edit"></span>administruj</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-edit"></span>wyloguj</a></li>

                        {% endif %}
                    </ul>
                </div>
            </div><!--end row-->
            <div class="row">
                <div class="col-md-12 footer-copy">
                    Copyright © <a href="http://www.przedszkole3lancut.pl">Przedszkole Miejskie nr3 w Łańcucie</a><br>
                    realizacja: Karol Skóra
                </div>
            </div><!--end row-->
        </div>
    </footer>

{% endblock %}